<div>
    <% Object.keys(files.videos).forEach(function(groupName){ %>
        <div>
            <%- groupName %>
            <ul>
            <% files.videos[groupName].forEach(function(file,webPath){ %>
                <li><a href="<%-webPath%>"><%-webPath%></a></li>
            <% }) %>
            </ul>
        </div>
    <% }) %>
</div>
